# Solo necesitas esto en Netlify → Site settings → Environment variables

DATABASE_URL=postgresql://usuario:password@ep-xxx.region.aws.neon.tech/neondb?sslmode=require

# Opcionales (puedes omitirlos)
# ADMIN_PIN=xv2025
# ALLOWED_ORIGIN=https://hilarious-crumble-1d6a6e.netlify.app
